*.swp
~*
*~
_site
.sass-cache
.jekyll-cache
.jekyll-metadata
*.xml
vendor
_notebooks/.ipynb_checkpoints
# Local Netlify folder
.netlify
.tweet-cache
__pycache__
_posts/2022-11-16-3.1dailyvideo2.md
_posts/2022-11-16-3.2dailyvideo2.md
_posts/2022-11-17-Hacks.md
_posts/2022-11-21-3.1vid1.md
_posts/2022-11-30-mygrocerylist.md
_posts/2022-12-06-homework.md
_posts/2022-12-12-hacksgroup.md
_posts/2022-12-14-section1415hacks.md
_posts/2022-12-15-hacks16.md
_posts/2022-12-15-section17-18.md
_posts/2023-01-10-PBL-model.md
_posts/2023-01-16-oopback.md
_posts/2023-01-16-trail.md
_posts/2023-01-22-grading2.md
_posts/2023-01-30-mcqtest.md
_posts/2023-01-30-memory.md
_posts/2023-02-26-natm2.md
_posts/2023-03-05-.lists11.md
_posts/2023-03-05-LessonDevProcedures2.md
_posts/2023-03-05-review.md
_posts/2023-03-06-cmom.ipynb
_posts/2023-03-07-cool.md
_posts/2023-03-07-tri2final.md
images/copied_from_nb/yes.png
images/copied_from_nb/studioart.jpg
images/copied_from_nb/q11.png
images/copied_from_nb/q10.png
images/copied_from_nb/q9.png
images/copied_from_nb/q8.png
images/copied_from_nb/q7.png
images/copied_from_nb/q6.png
images/copied_from_nb/q4.png
images/copied_from_nb/q3.png
images/copied_from_nb/q2.png
images/copied_from_nb/q1.png
images/copied_from_nb/noice.jpg
images/copied_from_nb/OKDO.jpg
images/copied_from_nb/it1.png
images/copied_from_nb/digital.jpg
images/copied_from_nb/coder23.png
images/copied_from_nb/coder11.png
images/copied_from_nb/birdys.jpg
images/copied_from_nb/16.png
images/copied_from_nb/6.png
images/copied_from_nb/1.png
images/smiles.png
_posts/2023-03-08-testing.md
_posts/2023-03-07-AP-unit2-2.md
_posts/2023-03-09-AP-unit2-3.md
_posts/2023-03-09-twotwoqa.md
images/copied_from_nb/socceriscool.jpeg
images/copied_from_nb/images/table_dataframe.png
images/copied_from_nb/super.jpeg
_notebooks/images/table_dataframe.png
_posts/2023-03-12-gonna.md
_posts/2023-03-13-AP-unit2-4a.md
_posts/2023-03-16-AP-unit2-4b.md
